<launch>

    <node pkg="kf_yaw_kf" type="kf_yaw_kf2.py" name="compass" output="screen">
        <param name="frame_id" value="/kingfisher/base"/>
        <param name="stddev_yaw_mag" value="0.05"/>
        <param name="stddev_yaw_gyro" value="0.01"/>
        <param name="stddev_omega" value="0.01"/>
        <param name="debug_publishers" value="True"/>
        <param name="replay" value="False"/>
        <!-- office values -->
        <param name="mag_offset_x" value="234.88"/>
        <param name="mag_offset_y" value="-36.04"/>
        <param name="mag_offset_z" value="-213.50"/>
    </node>

</launch>
