<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <include file="$(find sim_tasks)/launch/button_server.launch"/>
    <!-- <include file="$(find teleop_mux)/launch/teleop_mux_vrep.launch"/> -->
    <node name="task_server" pkg="sim_tasks" type="task_server" output="screen" >
        <param name="lib_path" value="$(find sim_tasks)/lib"/>
        <param name="position_source" value="tf"/>
        <param name="auto_topic" value="/mux/safeCommand"/>
    </node>
</launch>
