#! /usr/bin/env python
# Task Long configuration

PACKAGE='radial_plan'
import roslib; roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
#       Name                    Type            Description
#       Default    Min    Max
gen.add("initial_angle",     double_t, 0,    "Try to keep initial angle",  0.0, 0.0, 2.0)
gen.add("distance",     double_t, 0,    "Importance of keeping desired distance",  1., 0.0, 2.0)
gen.add("turn",     double_t, 0,    "Cost of turning",  1.0, 0.0, 2.0)
gen.add("length",     double_t, 0,    "Distance gain",  0.0, 0.0, 2.0)


exit(gen.generate(PACKAGE, "radial_plan", "LocalPlan"))

